mat-card {
    margin: 1rem;
    width: 20rem;
}

mat-toolbar {
    margin: 1rem;
    padding: 1rem;
    width: 40rem;
}

input {
    margin: 1rem;
    width: 22rem;
}

.container {
    padding-left: 30%;
}