<mat-toolbar color="warn">
    <form #radioForm="ngForm">
        <mat-toolbar color="warn">
            <input id="radio1" type="radio" value="1" name="tipo" ngModel required #tipo="ngModel"> Exemplo 01
            <input id="radio2" type="radio" value="2" name="tipo" ngModel required #tipo="ngModel"> Exemplo 02
        </mat-toolbar>
    </form>
    <button mat-icon-button color="warn" id="searchButton" (click)="mostraUsuario(radioForm)">
            <mat-icon>search</mat-icon>
        </button>
</mat-toolbar>

<div class="container ">
    <div fxLayout="row wrap " fxLayoutGap="16px ">
        <mat-card class="mat-elevation-z4 center ">
            <mat-card-title-group>
                <mat-card-title id="nomeId">{{usuario.nome}}</mat-card-title>
                <mat-card-subtitle id="emailId">{{usuario.email}}</mat-card-subtitle>
            </mat-card-title-group>
            <label>Frase:</label>
            <mat-card-content id="msgId">{{usuario.msg}}</mat-card-content>
            <label>Cor:</label>
            <mat-card-content id="corId">{{usuario.cor}}</mat-card-content>
            <label>Musica:</label>
            <mat-card-content id="musicaId">{{usuario.musica}}</mat-card-content>
        </mat-card>
    </div>
</div>