mat-toolbar {
    margin: 1rem;
    padding: 1rem;
    width: 90rem;
}

input {
    margin: 1rem;
    width: 22rem;
}

label {
    font-size: 17px;
    color: rgba(228, 76, 6, 0.795);
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.title {
    color: rgb(255, 0, 0);
    font-size: 19px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-text {
    font-size: 15px;
}